
.env
work/
backup-*/
00_define_vars.sh
deploy_moneyx.sh
*.zip
*.bak

cloudOneCredentials.txt
cloudonec1appsecmoneyxPipeline.yml
cloudonemydvwaPipeline.yml
cloudonetroopersPipeline.yml
k8s.crt
k8s.key
overrides.yml
req.conf
.remote-sync.json
